h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  a.red {
    color: red;
  }

  a.green {
    color: green;
  }

  a.blue {
    color: blue;
  }
}

.logo-mvms {
  text-align: center;

  img.mvms-img {
    width: 50%;
  }
}
