<h2>Deuxième reporting</h2>

<table>
  <thead>
    <th>Listing des clients</th>
    <th>Nombre de commandes par commerçant</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @client_list.each do |client| %>
          <p><%= client %></p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= @cclients %></p>
